{% extends 'base.html' %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% block login %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <ul class="list-unstyled">
    <li><div class="form-horizontal">
        <input type="text" class="form-control" name="username" placeholder="username"/>
    </div></li>
    <li><div class="form-horizontal">
        <input type="password" class="form-control" name="password" placeholder="password"/>

    </div></li>
    <li><input type="submit" value="login" class="btn btn-default">login</input> </li>
    </ul>
</form>
{% endblock %}